@font-face {
	font-family: Nord-Medium;
	src: url(../fonts/intro_cond_light_free.otf);
}
body {
	background: #d9d9d9;
	min-width: 547px;
}
.navbar-default {
	position: absolute;
	top: 0;
    right: 0;
    left: 0;
    z-index: 20;
	background-color: transparent;
	border: 0;
}
header {
	background: #1a1a1a;
	width: 100%;
	color: #fff;
	font-family: Nord-Medium;
	font-size: 45px;
}
.intro-cont {
	padding-top: 200px;
	padding-bottom: 100px;
}
.intro-text {
	text-align: center;
	padding-bottom: 50px;
}
.intro-welcome {
	color: #72c459;
	font-size: 50px;
}
.intro-choice {
	font-size: 35px;
}
.show-curr1, .show-curr2 {
	background-color: #1a1a1a;
	background: #1a1a1a;
	border: 1px solid #fff;
	color: #fff;
	font-size: 30px;
	float: left;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 400px;
}
.show-curr2 {
	margin-left: 15px;
}
select.show-curr1, select.show-curr2 {
	background-color: #1a1a1a;
	background: #1a1a1a url('../images/arrow2.png') no-repeat 95% center;
	background-size: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
select.show-curr1:focus, select.show-curr2:focus {
	outline: 0;
}
select.show-curr1:active, select.show-curr2:active {
	outline: none;
}
#swap-btn {
	height: 60px;
	width: 70px;
	float: left;
	background-color: #1a1a1a;
	margin-left: 15px ;
	background: #1a1a1a url('../images/double-arrow1.png') no-repeat center;
	background-size: 50px;
	cursor: pointer;
	-webkit-border-image: none;
	-moz-border-image: none;
	border-image: none;
}
a.show-btn {
	border: 1px solid;
	color: #fff;
	border-color: #fff;
	margin-left: 30px;
	float: left;
	font-size: 35px;
	padding: 3px 7px 2px 7px;
}
a.show-btn:hover {
	background: #242424;
}
.form-inline > a:hover,
.form-inline > a:focus,
.form-inline > a:visited {
	text-decoration: none;
}
.chart-row {
	padding-top: 50px;
}
.chart-div {
	background: #fff;
	border-color: #fff;
	border-radius: 7px;
	padding: 20px;
}
#placeholder {
	/*width: 950px;*/
	height: 500px;
}
#tooltip {
	position: absolute;
	display: none;
	padding: 5px 10px;
	border: 1px solid #e1e1e1;
	border-radius: 3px;
	background: #1a1a1a;
	color: #fff;
}
#loading-cont {
	position: relative;
	top: -200px;
	visibility: hidden;
}
#footer {
	background: #1a1a1a;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #fff;
}
#footer-href > a:link {
	color: #fff;
}
#footer-href > a:active {
	color: #fff;
	text-decoration: none;
}
/*-- ---------------------/
/CSS for loading animation/
/------------------------*/
.circle1 {
    background-color: rgba(0,0,0,0);
    border: 5px solid rgba(0,183,229,0.9);
    opacity: .9;
    border-top: 5px solid rgba(0,0,0,0);
    border-left: 5px solid rgba(0,0,0,0);
    border-radius: 80px;
    box-shadow: 0 0 35px #2187e7;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    -moz-animation: spin 2s infinite linear;
    -webkit-animation: spin 2s infinite linear;
}

.circle2 {
    background-color: rgba(0,0,0,0);
    border: 5px solid rgba(0,183,229,0.9);
    opacity: .9;
    border-top: 5px solid rgba(0,0,0,0);
    border-left: 5px solid rgba(0,0,0,0);
    border-radius: 65px;
    box-shadow: 0 0 15px #2187e7;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    position: relative;
    top: -94px;
    -moz-animation: spinoff 2s infinite linear;
    -webkit-animation: spinoff 2s infinite linear;
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    };
}

@-moz-keyframes spinoff {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(-360deg);
    };
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    };
}

@-webkit-keyframes spinoff {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(-360deg);
    };
}

@-moz-keyframes spinPulse {
    0% {
        -moz-transform: rotate(160deg);
        opacity: 0;
        box-shadow: 0 0 1px #2187e7;
    }

    50% {
        -moz-transform: rotate(145deg);
        opacity: 1;
    }

    100% {
        -moz-transform: rotate(-320deg);
        opacity: 0;
    };
}

@-moz-keyframes spinoffPulse {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    };
}

@-webkit-keyframes spinPulse {
    0% {
        -webkit-transform: rotate(160deg);
        opacity: 0;
        box-shadow: 0 0 1px #2187e7;
    }

    50% {
        -webkit-transform: rotate(145deg);
        opacity: 1;
    }

    100% {
        -webkit-transform: rotate(-320deg);
        opacity: 0;
    };
}

@-webkit-keyframes spinoffPulse {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    };
}
/*-------------*/