@font-face {
	font-family: Intro-cond;
	src: url(../fonts/intro_cond_light_free.otf);
}
@font-face {
	font-family: Bariol;
	src: url(../fonts/Bariol_Regular.otf);
}
@font-face {
	font-family: Sarial;
	src: url(../fonts/sarial.ttf);
}
body {
	background: #d9d9d9;
	min-width: 547px;
}
a:link, a:active, a:visited, a:hover, a:focus {
	text-decoration: none;
}
.navbar-default {
	position: absolute;
	top: 0;
    right: 0;
    left: 0;
    z-index: 20;
	background-color: transparent;
	border: 0;
}
header {
	background: #1a1a1a;
	width: 100%;
	color: #fff;
	font-family: Bariol;
	font-size: 45px;
}
.intro-cont {
	padding-top: 200px;
	padding-bottom: 85px;
}
.intro-text {
	text-align: center;
	padding-bottom: 40px;
}
.intro-welcome {
	color: #72c459;
	font-family: Intro-cond;
	font-size: 50px;
}
.intro-choice {
	font-size: 40px;
}
.show-curr1, .show-curr2 {
	background-color: #1a1a1a;
	background: #1a1a1a;
	border: 1px solid #fff;
	color: #fff;
	font-size: 35px;
	float: left;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 400px;
}
.show-curr1 {
	margin-right: 15px;
	margin-bottom: 15px;
}
.show-curr2 {
	margin-bottom: 15px;
	margin-right: 30px;
}
select.show-curr1, select.show-curr2 {
	background-color: #1a1a1a;
	background: #1a1a1a url('../images/arrow2.png') no-repeat 95% center;
	background-size: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
select.show-curr1:focus, select.show-curr2:focus {
	outline: 0;
}
select.show-curr1:active, select.show-curr2:active {
	outline: none;
}
#swap-btn {
	height: 60px;
	width: 70px;
	float: left;
	background-color: #1a1a1a;
	margin-right: 15px ;
	background: #1a1a1a url('../images/double-arrow1.png') no-repeat center;
	background-size: 50px;
	cursor: pointer;
	-webkit-border-image: none;
	-moz-border-image: none;
	border-image: none;
}
a.show-btn {
	border: 1px solid;
	color: #fff;
	border-color: #fff;
	float: left;
	font-size: 35px;
	padding: 8px 0 4px 0;
	width: 120px;
}
a.show-btn:hover {
	background: #242424;
}
.form-inline > a:hover,
.form-inline > a:focus,
.form-inline > a:visited {
	text-decoration: none;
}
.chart-cont {
	font-family: Sarial;
}
.chart-row {
	padding-top: 50px;
	padding-bottom: 15px;
}
.chart-div {
	background: #fff;
	border-color: #fff;
	border-radius: 7px;
	padding: 20px;
}
#currency-title {
	font-size: 30px;
	color: #333;
}
#placeholder {
	/*width: 950px;*/
	height: 500px;
	z-index: 1;
}
#loading-msg {
	width: 140px;
	height: 140px;
	position: absolute;
	font-size: 40px;
	float: left;
	z-index: 100;
	overflow: visible;
	background: url('../images/loading.gif');
}
#tooltip {
	position: absolute;
	display: none;
	padding: 5px 10px;
	border: 1px solid #e1e1e1;
	border-radius: 3px;
	background: #1a1a1a;
	color: #fff;
	z-index: 50;
}
#currency-info {
	margin-top: 30px;
	padding-left: 10px;
}
#curr-column1-newest {
	font-size: 27px;
	font-weight: bold;
	padding-right: 10px;
	display: table-cell;
}
#curr-column1-diff {
	font-size: 20px;
	padding-right: 5px;
	display: table-cell;
}
#curr-column1-percent {
	font-size: 20px;
	display: table-cell;
}
#curr-column1-pair {
	color: #8c8c8c;
}
#news-title {
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 20px;
}
.news-item {
	padding: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	background: #fff;
	border: 1px solid; 
	border-color: #fff; 
	border-radius: 7px;
	display:inline-block;
	width: 250px;
	height: 100px;
	overflow: hidden;
	text-align: left;
}
.news-item .news-date {
	color: #72c459;
}
.news-item .link-div {
	height: 58px;
	overflow: hidden;
	border: 1px solid; 
	border-color: #fff; 
	border-radius: 7px;
}
.news-item .src-date {
	padding-top: 8px;
}
.news-link {
	color: #000000;
	text-decoration: none;
}
.news-link:link {
	color: #000000;
	text-decoration: none;
}
.news-link:hover {
	color: #000000;
	text-decoration: underline;
}
.news-link:active, .news-link:visited, .news-link:focus {
	color: #000000;
	text-decoration: none;
}
.news-src {
	display: inline-block;
}
.news-date {
	display: inline-block;
}
#footer {
	background: #1a1a1a;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #fff;
	font-family: Bariol;
	font-size: 20px;
}
#footer-href > a:link {
	color: #fff;
}
#footer-href > a:hover {
	color: #fff;
	text-decoration: underline;
}
#footer-href > a:active, a:visited {
	color: #fff;
	text-decoration: none;
}